annotated-types==0.7.0
cachetools==5.5.2
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
fsspec==2025.5.1
greenlet==3.2.3
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
mmh3==5.1.0
pyarrow==20.0.0
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.1
pyiceberg==0.9.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
requests==2.32.4
rich==13.9.4
six==1.17.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.41
strictyaml==1.7.3
tenacity==9.1.2
typing-inspection==0.4.1
typing_extensions==4.14.0
urllib3==2.5.0
